@font-face {
    font-family: 'SpecialGothic';
    src:
        url('../fonts/special-gothic.woff') format('woff'),
        url('../fonts/special-gothic.woff2') format('woff2');
}

body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 9999;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='120' height='120' filter='url(%23n)' opacity='0.15'/%3E%3C/svg%3E");

  opacity: 0.15;
  mix-blend-mode: overlay;
}


.nav-left {
    position: absolute;
    left: 2.5vw;
    z-index: 1;
    text-shadow: #ffffff 0px 0px 5vw;
}

#raw-top-left {
    position: absolute;
    font-family: 'SpecialGothic';
    font-size: 2vw;
    margin-left: 35vw;
}

.bg-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.25;
    filter: grayscale(100%);
}


.content {
    margin-left: 50vw;
    margin-top: 10vh;
}

#email-text {
    font-family: 'SpecialGothic';
    font-size: 2vh;
    margin: 0;
    padding: 0;
    line-height: 2vh;
    align-items: center;
}

#email-input {
    font-family: 'SpecialGothic';
    font-size: 2vh;
    margin: 0;
    padding: 0;
    line-height: 2vh;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ffffff;
}

#city-text {
    font-family: 'SpecialGothic';
    font-size: 2vh;
    margin: 0;
    padding: 0;
    line-height: 2vh;
    align-items: center;
}

#city-input {
    font-family: 'SpecialGothic';
    font-size: 2vh;
    margin: 0;
    padding: 0;
    line-height: 2vh;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ffffff;
}

#why-text {
    font-family: 'SpecialGothic';
    font-size: 2vh;
    margin: 0;
    padding: 0;
    line-height: 2vh;
    align-items: center;
}

.grainient-container, #grainient {
  position: fixed;
  inset: 0;
  z-index: -1;
}

#why-input {
    font-family: 'SpecialGothic';
    font-size: 2vh;
    margin: 0;
    padding: 0;
    line-height: 2vh;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.grainient-container {
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    backdrop-filter: blur(22px) saturate(1.2);
    -webkit-backdrop-filter: blur(22px) saturate(1.2);
}
